@import './normalize.scss', './vars.scss';

html {
  background: bisque;
  box-sizing: border-box;
  color: brown;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}